/zp-projekat/nbproject/
/zp-projekat/build/
/zp-projekat/dist/
/zp-projekat/my_keystore
/zp-projekat/store.p12
/zp-projekat/bcprov-jdk15on-154.jar
/zp-projekat/bcpkix-jdk15on-154.jar
/zp-projekat/mita.p12
/zp-projekat/temp.p12